@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    // Retrieve the current user
    var currentUser = await UserManager.GetUserAsync(User);

    // If the user is signed in and exists, retrieve the roles for the current user
    var userRoles = currentUser != null ? await UserManager.GetRolesAsync(currentUser) : null;


    // If the user is signed in and has roles, display the role name
    var roleName = SignInManager.IsSignedIn(User) && userRoles.Any() ? userRoles.First() : "No Role Assigned";
}

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <h3>You Logged In successfully. </h3>
        <p>You currently have a Role: @roleName </p>


    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}